body {
  background: #666;
}

h1 {
  font-size: 120px;
  text-align: center;
  margin-top: 50px;
  font-family: 'Cutive Mono', monospace;
  letter-spacing: -5px;
  color: black;
  text-transform: uppercase;
  /*text-shadow: 5px 10px 10px red;*/
  text-shadow:
    5px -1px 0 white,
    6px -2px 0 red;
  /*font-variant: small-caps*/
}
